
body {
    margin: 0;
    
} 


.container {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
      Verdana, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
}


.box-border {
    overflow: hidden;
    width:40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border:5px solid gainsboro;
    margin-top: 3%;
  
}



.box-border .addMembers{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
  
.box-border .addMembers b{

    margin: 30px 20px;
    color:rgb(112, 98, 98) ;
    font-size: 15px;

}
.box-border .addMembers .deleteIcon{

    margin :0px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(189, 189, 218);



}
.box-border .addMembers .deleteIcon button{

    height: 35px;
    width: 35px;
    background-color: white;
   border: 2px solid white;
   cursor:pointer;
}

.box-border .addMembers .deleteIcon  .fas{

 
    font-size: xx-large;
    color: rgb(189, 189, 218);

}

.box-border .addMembers .deleteIcon  h{
    font-size: 13px;
}


.box-border .findMembers {
    flex:3;
    display: flex;
    flex-direction: column;
   padding-bottom:3% ;
}

.box-border .findMembers .findd {
display: flex;
flex-direction: row;
justify-content:center;

}
.box-border .findMembers .findd .fa-solid{

    font-size:20px ;
    color: rgb(172, 159, 159);
   
}
.box-border .findMembers .findd .find{
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;  
  outline: navajowhite;
  border: none;
  border-bottom: 2px solid silver;
  margin-bottom:4% ;
}

.box-border .findMembers .press {
display: flex;
flex-direction: column;
align-items: center;
}

.box-border .findMembers .press .user{
    border: 2px solid silver;
    padding: 10px;
    margin-bottom:5px; 
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content:start;

}

.box-border .findMembers .press .user .left .fa-solid{
    margin-left:5px ;
    padding-right:10px ;
    font-size:15px ;
}
.box-border .findMembers .press .user .left label{
    font-size:14px ;
}

.box-border .findMembers .press .user .left{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:start;
     
}
.box-border .findMembers .press .user .right{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:end;
   
}



.box-border .findMembers .press .u2 .right .fa {
    font-size: x-large;
    color: rgb(68, 138, 68);
}
.box-border .findMembers .press .u4 .right .fa {
    font-size: x-large;
    color: rgb(68, 138, 68);
}
.box-border .findMembers .press .u6 .right .fa {
    font-size: x-large;
    color: rgb(68, 138, 68);
}
.box-border .findMembers .press .u7 .right .fa {
    font-size: x-large;
    color: rgb(68, 138, 68);
}

.box-border .findMembers .press .u1 .left  {
  
    color: rgb(160, 177, 160);
}
.box-border .findMembers .press .u3 .left {
    
    color: rgb(160, 177, 160);
}
.box-border .findMembers .press .u5 .left {
    
    color: rgb(160, 177, 160);
}


.box-border .findMembers .press .u1 .right .fa {
    font-size: x-large;
    color: rgb(160, 177, 160);
}
.box-border .findMembers .press .u3 .right .fa {
    font-size: x-large;
    color: rgb(160, 177, 160);
}
.box-border .findMembers .press .u5 .right .fa {
    font-size: x-large;
    color: rgb(160, 177, 160);
}



.box-border .SaveButton{
    display: flex;
    flex-direction:row;
    padding-bottom: 5%;
    justify-content:center;
    
}

.box-border .SaveButton .sa-ve,.de-lete {
    display: flex;
 padding-left:20px ;  
    
 }

.box-border .SaveButton  .cancel,.save {
   height:40px ;
   width:100px ;
   cursor:pointer;
   border:1px solid rgb(182, 168, 168);
   
}
.box-border .SaveButton  .cancel {
    color:rgb(182, 168, 168) ;
    background-color:rgb(255, 255, 255);
}
 .box-border .SaveButton  .save {
     box-shadow: 0 0 5px rgb(176, 175, 196);
    color:white ;
    background-image: linear-gradient(to left,#9bf09b,#bbfa80,#b9adb5);
    text-transform: uppercase;
   

}
 .save:hover,.save:focus,.save:active{
    box-shadow: 0 0 10px rgb(176, 175, 196);
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 